

/*=========================*/
body {
    background-color: #f2f2f2 !important;   
}

.student-profile{
    background-color: #fff;
    border-top: 4px solid #17a2b8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

#student-label
{
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 50px;
  box-shadow:   0 1px 3px 0 rgba(0,0,0,0.1), 0 4px 6px 0 rgba(0,0,0,0.11);
}

#student-label .nav-tabs
{
    border-bottom: none;
    margin-top: 20px;
}
.nav-tabs .nav-link
{
    font-size: 20px;
}
#student-label h1
{
    padding-top: 50px;
}

span.student-label{
    background-color: #17a2b8 ;
    text-transform: uppercase;
    padding: 0 4px 1px 4px;
    color:#fff;
    border-radius: 5px;
    font-size: 11px;
    
}
 
.btn-edit-profile { border: 2px solid #f2f2f2; border-radius: 5px; padding: 6px 10px; font-size: 14px; box-shadow: 0 4px 6px 0 rgba(0,0,0,0.11), 0 1px 3px 0 rgba(0,0,0,0.1); background-color: #fff; margin: 0 !important ;}

.nav-tabs .nav-link{
    color:#495057;
    
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color: #17a2b8 #17a2b8 #fff;
box-shadow: 0 4px 6px 0 rgba(0,0,0,0.11), 0 1px 3px 0 rgba(0,0,0,0.1); 
}

.tab-content{text-align: center;}


div.qSearch-btn{
    border:1px solid #17a2b8;
    text-transform: uppercase;
    font-size: 14px;
    padding: 2px 1px;   
    font-weight: bold;
    border-radius: 4px;
    color: #17a2b8;
    width:180px;
    margin-left: 420px;
    margin-top: 10px;
    
}


a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    
}




.log-out a
{
    color: #fff !important;
}
.answers
{
    background-color: rgb(244, 245, 247);
    padding: 20px;
}